/* common */

body {
  margin: 0;
}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: normal;
}

/* header */

header {
  background: #efefef;
  text-align: center;
}

.container {
  margin: 0 auto;
  display: flex;
  width: calc(100% - 32px);
}

header h1 {
  margin:0;
  padding-bottom: 16px;
}

.stn {
  font-size: 30px;
  padding-left: 16px;
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* section */




/* main */

main {
  background-color: blanchedalmond;
}

.gz {
  /* 画像の位置 */
  width: calc(100% - 32px);
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
}

main h1 {
  font-size: 24px;
  padding: 60px 0;
}

main h2 {
  font-size: 20px;
  margin-top: 16px;
}

main p {
  line-height: 1.8;
  margin-top: 16px;
}

main section + section {
  margin-top: 60px;
}

/* footer */

footer {
  padding: 60px 0;
  text-align: center;
  color: #aaa;
}