/* common */

body {
  margin: 0
}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: normal;
}

.container {
  display: flex;
  margin: 0 auto;
  width: calc(100% - 32px);
}

/* .siten {
    width: calc(100% - 32px);
    height: auto;
    margin-top: 0;
} */

.stn {
  color: dimgray;
  font-size: 30px;
  padding-left: 16px;
  font-weight: normal;
  /* display: flex; */
  align-items: center;
}

/* header */

header {
  background: #efefef;
  text-align: center;
}

header h1 {
  margin:0;
  padding-bottom: 16px;
}

/* section */
/* section {
  background-color: palegoldenrod;
} */

.act {
  margin: 30px auto;
  width: 500px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 8px 0;
  color: #333;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.menu li a.active {
  background: khaki;
  color: #333;
}

.menu li a:not(.active):hover {
  opacity: 0.5;
  transition: opacity 0.4s;

} 

.content.active {
  background: khaki;
  color: #333;
  min-height: 150px;
  padding: 12px;
  display: block;
}

.content {
  display: none;
}

/* main */

main {
  background-color: blanchedalmond;
}

.gz {
  /* 画像の位置 */
  margin: 0 auto;
  justify-content: space-between;
  text-align: center;
  width: calc(100% - 50px);
}

main h1 {
  color: coral;
  font-size: 36px;
  padding: 40px 0;
}

main h2 {
  font-size: 24px;
  margin-top: 5px;
  
}

.stm {
  font-size: 15px;
  padding-left: 16px;
  /* padding-top: 28px; */
  font-weight: normal;
  /* display: flex; */
  /* align-items: left; */
  font-style: normal;
  text-align: left;
}

section > img {
  padding-bottom: 40px;
}

main section + section {
  margin-top: 60px;
}

/* footer */

footer {
  padding: 60px 0;
  text-align: center;
  color: #aaa;
}

/* large screan */
